.idea/
.workbuddy/
.DS_Store
__pycache__/

# data
data/MNIST/
data/360_extra_scenes

# ckpt
01_diffusion_model/ckpt/
02_guided_diffusion_model/ckpt/
03_guided_flow_matching/ckpt/
04_diffusion_transformer/runs/
05_video_generation/runs/
06_neural_radiance_fields/runs/
07_instant_neural_graphics_primitives/runs
08_3d_gaussian_splatting/runs
09_signed_distance_field/runs